body {
    margin:0;
    padding: 0;
  }
  

  #container {
    width: 34.375em;
    height: 33.125em;
    background-color: #1F2937;
    margin: 0 auto;
    border-radius: 10px;
  }

  
  button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #FFFFFF;
    padding: 0.56em 1.06em 0.56em 0.93em;
    background-color: #10B981;
    border: none;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    margin-left: 3.25em;
    margin-top: 3.18em;
  }

  
  hr {
    width: 27.81em;
    border: 1px solid #2F3E53;
    margin-top: 2.18em;
  }

  
  #container2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.56em;
  }
  

  #passwordOne, #passwordTwo {
    color: #4ADF86;
    text-align: center;
    width: 13.188em;
    height: 1.75em;
    background-color: #273549;
    border-radius: 6px;
    margin-top: 1.18em;
    padding-top: 0.9em;
    padding-bottom:0.3em;
  }

  
  /* TYPOGRAPHY */
  
  h1 {
    color: #FFFFFF;
    padding-top: 7.188rem;
    letter-spacing: -0.025rem;
  }


  h1, #random-password {
    font-weight: 800;
    font-size: 2.5rem;
    line-height: 2.5rem;
    letter-spacing: -0.025rem;
    margin-left: 1.25em;
  }


  h1, #random-password, #passwordOne, #passwordTwo {
    font-family:'Karla', sans-serif;
    font-style: normal;
  }


  #password-slider-text, p, button {
    font-family: 'Inter', sans-serif;
    font-style: normal;
  }

  
  #random-password {
    color: #4ADF86; 
  }

  
   #password-slider-text, p {
     font-weight: 400;
     font-size: 1.25rem;
     color: #D5D4D8;
     margin-left: 3.25em;
  }


  p {
    margin-left: 2.55em;
  }
  
/* Mobile responsive features */ 

  @media(max-width:500px) {
    #container{
      display: flex;
      flex-direction: column;
      width: 23.75em;
      height: 34.375em;
      position:absolute;
      top:50%;
      left:50%;
      transform:translate(-50%, -50%);
    }
    h1, #random-password{
      font-weight: 800;
      font-size: 2.18;
      margin: 0 auto;
    }

    p{
      font-size: 1.06rem;
      text-align: justify;
    }
    button{
      width: 15.62em;
      margin: 1.87em auto;
    }
    hr{
      width: 15.62em;
      margin-top: 1.25em;
    }
    #container2{
      flex-direction: column;
      gap: 0.31em;
      align-items: center;
      
    }
  }
  